<div class="login-main row">
    <div class="login col-md-5">
        <div class="heading animate__animated animate__jackInTheBox animate__repeat-2	">
            <img src="../../assets/images/heading-stroke.svg" alt="" class="heading-image-left">
            
            LOGIN
            <img src="../../assets/images/heading-stroke.svg" alt="" class="heading-image-right">
        </div>
       
        <form name="loginForm" id="login-form" >
            
            <input type="text" id="uname" placeholder="username" name="from_uname" required="">
            
            <input type="password" id="password" placeholder="password" name="from_password"  required="">
            
            <button type="submit">Login</button>
        </form>
    </div>

    <img src="../../assets/images/login.png" alt="" class="login-image animate__backInRight animate__animated">
    
</div>

