<!-- CONTACT -->
<div class="contact">
    <div class="heading animate__animated animate__jackInTheBox animate__repeat-3	">
        <img src="../../assets/images/heading-stroke.svg" alt="" class="heading-image-left">
        CONTACT
        <img src="../../assets/images/heading-stroke.svg" alt="" class="heading-image-right">
    </div>
   
    <form name="myForm" id="coding-form" >
        
        <input type="text" id="fullname" placeholder="Enter your name..." name="from_name" required="">
        <br>
        <input type="email"id="email" placeholder="Enter your mail..." name="from_mail" aria-describedby="emailHelp">
        <br>
        <textarea id="message" rows="3" placeholder="Enter your message here..." name="message"></textarea>
        <br>
        <button type="submit">Send</button>
    </form>
</div>