<div class="signup-main row">
    <div class="signup col-md-5">
        <div class="heading animate__animated animate__jackInTheBox animate__repeat-2	">
            <img src="../../assets/images/heading-stroke.svg" alt="" class="heading-image-left">
            SIGNUP
            <img src="../../assets/images/heading-stroke.svg" alt="" class="heading-image-right">
        </div>
       
        <form name="signupForm" id="signup-form" >
            <input type="text" id="name" placeholder="name" name="from_uname" required="">
            
            <input type="text" id="uname1" placeholder="username" name="from_uname" required="">
            
            <input type="password" id="password1" placeholder="password" name="from_password"  required="">
            
            <button type="submit">signup</button>
        </form>
    </div>

    <img src="../../assets/images/login.png" alt="" class="signup-image animate__backInRight animate__animated ">
    
</div>

